.font_setting{
    /*white-space:nowrap;*/
    /*width: 100%;*/
    overflow:hidden;
    text-overflow: ellipsis;
    margin: 0;
}
.font_nowrap{
	white-space:nowrap;
}
.navbar-default{
     background-color: #ff5555;
 }