body{
    padding-top: 50px;
}
[class^=col-xs-],
[class*= col-xs-]{
    padding: 4px 0 0;
}
.row > div{
    padding-left: 0;
    padding-right: 2px;
}
.row > div + div{
    padding-left: 2px;
    padding-right: 0;
}
.thumbnail{
    border: none;
    margin-bottom: 0;
    background-color: #feefee;
    padding: 0;
}
.thumbnail img{
    width: 100%;
}
.caption > p:first-child{
    font-size: small;
    font-weight: 600;
}
.caption > p:last-child{
    margin-bottom: 0;
}
.container{
    position: relative;
}
.container .footer{
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    z-index: 1000;
    background: #fff;
    padding: 0 3px;
}
