body{
    padding-top: 50px;
}
img{
    width: 45px;
    height: 45px;
    margin-right: 10px;
}
.list-group-item span{
     font-size: x-large;
     vertical-align: middle;
}
.newFriends .list-group-item{
    border: none;
    border-bottom: 0.1rem solid #ccc;
    border-radius: 0;
    box-shadow: 0 0.01rem 0.5rem 0 #ccc;
}
.newFriends .list-group-item span{
    font-size: 1.5rem;
}
#newF{
    display: none;
}