body{
    padding-top: 60px;
}
hr{
    margin-top: 10px;
    margin-bottom: 10px;
}
.navbar-form{
    border: none;
    margin: 0;
}
.navbar-default{
	background: #db1a1d;
}
.form-group{
    width: 100%;
}
.form-group input{
    border: 1px solid #ddd;
    width: 100%;
    border-radius: 8px;
}
input:active, input:focus{
    outline: none;
}

/*商品*/
.row:first-child{
    margin-top: 50px;
}
.row{
    padding: 0 15px 0;
    /*background-color: #f8f8f8;*/
}
.row > .sp{
    margin: 2.5%;
    width: 45%;
    padding: 0;
    height: 220px;
    text-align: center;
    box-shadow: 0 0.2rem 0.5rem 0.1rem rgba(0, 0, 0, 0.2);
    border-radius: 0.5rem;
}
.row > .sp > img{
    height: 80%;
    max-width: 100%;
}
.row > .sp > .sp-xx{
    width: 100%;
    line-height: 40px;
    position: relative;
    text-align: left;
}
.row > .sp > .sp-xx > span:first-child{
    width: 72%;
    position: absolute;
    left: 2px;
    line-height: 20px;
    padding-left: 0.5rem;
    height: 40px;
}
.row > .sp > .sp-xx > span:last-child{
    position: absolute;
    right: 2px;
    color: #a94442;
    padding-right: 0.5rem;
}

/*文章*/
.body-block{
    margin-top: 10px;
    width: 100%;
}
.body-block > div{
    /*margin-top: px;*/
    width: 100%;
    height: 20rem;
    padding: 1rem;
    box-shadow: 0 0.3rem 1rem 0.1rem #f1f1f1;
    /*background-color: #a94442;*/
}
.tswz:last-child{
    margin-bottom: 2rem;
}
.body-block > div > .tswz_img{
    overflow: hidden;
    width: 100%;
    height: 60%;
    /*background-color: #1b6d85;*/
}
.body-block > div > .tswz_img > img{
    width: 100%;
}
.body-block > div > .tswz_ty{
    height: 80px;
}
.body-block > div > .tswz_ty > div{
    background-color: #faebdc;;
    height: 100%;
    padding: 10px;
}
.body-block > div > .tswz_ty > div > p{
    font-size: medium;
}

/*用户*/
#myFriendList img{
    width: 45px;
    height: 45px;
    margin-right: 10px;
}
#myFriendList .list-group-item span{
    font-size: x-large;
    vertical-align: middle;
}

/*搜索界面*/
.search {
    display: none;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    top: 0;
    z-index: 10010;
}
.search .input-group{
    padding: 0.5rem;
}
.search .input-group button{
    background-color: #fff;
}
.search button{
    height: 3.25rem;
    background-color: #ff5555;
    border: none;
}
.search input{
    height: 3.25rem;
}

.form-control{
    border: none;
}
.form-control:focus{
    border: none;
    box-shadow: none;
}

.open > .dropdown-toggle.btn-default, .open > .dropdown-toggle.btn-default:hover{
    background-color: white;
    border: none;
}

/*未找到相关商品*/
.noResult{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}