.page-four > nav > p{
    text-align: center;
    line-height: 20px;
    font-size: 20px;
}
.page-four > nav > div{
    position: absolute;
    right: 0;
    top: 0;
}
.page-four > .ms-body{
    margin-top: 50px;
}
.page-four > .ms-body > ul > li{
    height: 80px;
    position: relative;
}
.page-four > .ms-body > ul > li > span{
    background-color: red;
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
}
.page-four > .ms-body > ul > li > img{
    height: 60px;
    padding: 5px 5px 5px 0;
    float: left;
}
.page-four > .ms-body > ul > li > div{
    float: left;
}
.page-four > .ms-body > ul > li > div > p{
    font-size: 15px;
    margin-top: 5px;
    margin-bottom: 10px;
}