.page-three > .navbar > .top{
    text-align: center;
    line-height: 47px;
    width: 100%;
    color: white;
}
.page-three > .navbar > .top > span{
    font-size: 20px;
}
.page-three > .zhoubian > .row:first-child{
    margin-top: 50px;
}
.page-three > .zhoubian > .row{
    padding: 0 15px 0;
    /*background-color: #f8f8f8;*/
}
.page-three > .zhoubian > .row > .sp{
    margin: 2.5%;
    width: 45%;
    padding: 0;
    height: 220px;
    text-align: center;
    box-shadow: 0 0.2rem 0.5rem 0.1rem rgba(0, 0, 0, 0.2);
    border-radius: 0.5rem;
}
.page-three > .zhoubian > .row > .sp > img{
    height: 80%;
    max-width: 100%;
}
.page-three > .zhoubian > .row > .sp > .sp-xx{
    width: 100%;
    line-height: 40px;
    position: relative;
    text-align: left;
}
.page-three > .zhoubian > .row > .sp > .sp-xx > span:first-child{
    width: 75%;
    position: absolute;
    left: 2px;
    line-height: 20px;
    padding-left: 0.5rem;
    height: 40px;
}
.page-three > .zhoubian > .row > .sp > .sp-xx > span:last-child{
    position: absolute;
    right: 2px;
    color: #a94442;
    padding-right: 0.5rem;
}
